.appButton {
	color: var(--primary-color);
	cursor: pointer;
}

.clear {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: transparent;
}

.outlined {
	padding: 5px 12px;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: transparent;
}
