.appButton {
	color: var(--primary-color);
	cursor: pointer;
	padding: 5px 12px;
}

.clear {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	background: transparent;
}

.outlined {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background: transparent;
}

.background {
	background: var(--bg-color);
	border: none;
	color: var(--primary-color);
}

.invertedBackground {
	border: none;
	background: var(--inverted-bg-color);
	color: var(--inverted-primary-color);
}

.sizeM {
	font: var(--font-m);
}

.sizeL {
	font: var(--font-l);
}

.sizeXL {
	font: var(--font-xl);
}
