.sidebar {
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	background-color: var(--inverted-bg-color);
	position: relative;
	transition: width 0.3s;

	&.closed {
		width: var(--sidebar-closed-width);
	}

	.switchers {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		bottom: 15px;
		width: 100%;
	}

	.toggleButton {
		position: absolute;
		right: -35px;
		bottom: 35px;
		width: 35px;
		height: 35px;
		padding: 0;
	}

	.menu {
		.item {
			margin-left: 20px;
			margin-top: 10px;
			display: flex;
			align-items: center;
			min-height: var(--font-line-m);

			svg {
				fill: var(--inverted-secondary-color);
			}

			.linkText {
				margin-left: 5px;
			}

			&.center {
				margin-left: 0;
				justify-content: center;
			}
		}
	}
}
