.sidebar {
	width: 300px;
	height: calc(100vh - var(--navbar-height));
	background-color: var(--inverted-bg-color);
	position: relative;
	transition: width 0.3s;

	&.closed {
		width: 80px;
	}

	.switchers {
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: absolute;
		bottom: 15px;
		width: 100%;
	}
}
