.navbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 20px;
	background-color: var(--inverted-bg-color);
	height: var(--navbar-height);

	.navbarLink {
		margin-right: 15px;
	}
}
